body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 300px;
}
.container {
  width: 570px;
  margin: 0 auto;
  padding: 100px 0;
}

/* typography */
h1,
h2 {
  font-weight: 300;
  margin-top: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
  box-sizing: border-box;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 20px 0;
  margin-bottom: 40px;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}
.small-text {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
}

h1 span,
h2 span {
  font-weight: 900;
  display: block;
  color: #99d930;
}
h1 span {
  font-size: 80px;
}
h2 span {
  font-size: 60px;
}

a {
  color: #99d930;
}

a:hover,
a:focus {
  color: #999;
}

.btn {
  background-color: #99d930;
  color: #252525;
  font-weight: 900;
  padding: 20px 30px;
  display: inline-block;
  margin-top: 40px;
  text-decoration: none;
}
.btn:hover,
.btn:focus {
  background-color: #777;
  color: #fff;
}

article .btn:hover,
article .btn:focus {
  background-color: #fff;
  color: #252525;
}

article p span,
article p time {
  color: #99d930;
  font-weight: bold;
}

/* layout */
.black-background {
  background-color: #252525;
  color: #fff;
}
